body {
    background-color: #f7f7f7;
}

#title, .subtitle, .post_title {
    color: brown;
}

.post_title {
    font-size: 16px;
    font-style: italic;
    margin: 0;
    margin-bottom: 15px;
}

.post {
    background-color: #fff;
    padding: 15px;
    border: 3px solid #505050;
    margin-bottom: 15px;
    border-radius: 7px;
}

.post_content {
    margin: 0;
    margin-bottom: 15px;
}

#photo_profile {
    height: 100px;
    border-radius: 50%;
    border: 3px solid #505050;
}

#image_post1 {
    height: 250px;
    margin-bottom: 15px;
}